.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff159;
  height: 60px;
}

.custom-navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1200px;
}
